* {
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.no-select {
  -webkit-user-select: none; /* Safari, iOS Safari */
  -ms-user-select: none;     /* Old IE/Edge */
  user-select: none;         /* Standard */
}

body {
  background-color: rgb(0, 64, 255);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  background-color: rgb(64, 128, 255);
  border-radius: 1vw;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  padding: 1rem 5rem;
}

#clock {
  background-color: rgb(64, 128, 255);
  border-radius: 5vw ;
  width: 24rem;
  height: 24rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#clock-base {
  border: solid 1rem rgb(0, 0, 162);
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock-time {
  color: white;
  font-size: 6rem;
}

#btn {
  color: rgb(32, 0, 192);
  font-size: 3rem;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#btn:hover {
  color: rgb(32, 0, 128);
}

#btn:active {
  transform: scale(0.9);
}
