* {
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.no-select {
  -webkit-user-select: none; /* Safari, iOS Safari */
  -ms-user-select: none;     /* Old IE/Edge */
  user-select: none;         /* Standard */
}

body {
  background-color: rgb(0, 64, 255);
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pomodoro-wrapper {
  height: 95dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pomodoro-text {
  background-color: rgb(64, 128, 255);
  border-radius: 1dvw;
  min-width: 256px;
  width: 25dvw;
  min-height: 2rem;
  text-align: center;
}

#title {
  font-size: clamp(2rem, 5dvw, 6rem);
}

#pomodoro-tracker {
  font-size: clamp(2rem, 3dvw, 6rem);
}

#pomodoro-status {
  color: rgb(32, 0, 192);
  font-weight: bold;
  font-size: clamp(2rem, 3dvw, 4rem);
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#clock {
  background-color: rgb(64, 128, 255);
  border-radius: 5dvw;
  min-width: 16rem;
  width: 25dvw;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 1dvh;
}

@media (max-height: 480px) {
  .pomodoro-text {
    display: none;
  }

  #clock {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  #clock {
    aspect-ratio: 4 / 5;
  }
}

#clock-base {
  border: solid 1rem rgb(0, 0, 162);
  border-radius: 50%;
  min-width: 192px;
  width: 75%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock-time {
  color: white;
  font-size: clamp(4rem, 7dvw, 8rem);
}

#btn {
  color: rgb(32, 0, 192);
  font-size: clamp(2rem, 3dvw, 4rem);
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#btn:hover {
  color: rgb(32, 0, 128);
}

#btn:active {
  transform: scale(0.9);
}
