* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

body {
  background-color: hsl(0, 0%, 80%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  background-color: hsl(0, 0%, 70%);
  border-radius: 1vw;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  padding: 1rem 5rem;
}

#clock {
  background-color: hsl(0, 0%, 70%);
  border-radius: 5vw ;
  width: 24rem;
  height: 24rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#clock-base {
  border: solid 1rem rgb(0, 0, 162);
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock-time {
  color: white;
  font-size: 6rem;
}

#btn {
  color: rgb(0, 0, 255);
  font-size: 3rem;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#btn:hover {
  color: rgb(0, 0, 223);
}

#btn:active {
  transform: scale(0.9);
}
