* {
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.no-select {
  -webkit-user-select: none; /* Safari, iOS Safari */
  -ms-user-select: none;     /* Old IE/Edge */
  user-select: none;         /* Standard */
}

body {
  background-color: rgb(0, 64, 255);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pomodoro-wrapper {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pomodoro-text {
  background-color: rgb(64, 128, 255);
  border-radius: 1vw;
  min-width: 256px;
  width: 25vw;
  min-height: 2rem;
  text-align: center;
}

#title {
  font-size: clamp(2rem, 5vw, 6rem);
}

#pomodoro-tracker {
  font-size: clamp(2rem, 3vw, 6rem);
}

#clock {
  background-color: rgb(64, 128, 255);
  border-radius: 5vw;
  min-width: 256px;
  width: 25vw;
  min-height: 256px;
  height: 25vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#clock-base {
  border: solid 1rem rgb(0, 0, 162);
  border-radius: 50%;
  min-width: 192px;
  width: 75%;
  min-height: 192px;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock-time {
  color: white;
  font-size: clamp(4rem, 7vw, 8rem);
}

#btn {
  color: rgb(32, 0, 192);
  font-size: clamp(2rem, 3vw, 4rem);
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#btn:hover {
  color: rgb(32, 0, 128);
}

#btn:active {
  transform: scale(0.9);
}
